html {
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;
}

body {
    background-color: #abcbbb;
    color: #9fb9a4;
    font-family: inherit;
    justify-content: center;
    line-height: inherit;
    margin: 0;
}
.initial {
    font-family: 'Courier New', Courier, monospace;
    color: #3e5c4e;
    background-color: #abcbbb;
    border-color: #3e5c4e;
    border-width: 0.2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: left;
    position: absolute;
    left: 45%;
    width: 60%;
    height: 60%;
    font-size: 1.5em;
}

#logo {
    position: absolute;
    left: 0%;
    width: 60%;
    height: 60%;
}

#im {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-width: 2rem;
}

#box {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 50%;
}

#text {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60%;
    height: 60%;
}

#projects {
    position: absolute;
    top: 70%;
    width: 60%;
    height: 15%;
    left: 10%;
    background-color: #9dbcac;
    color: #3e5c4e;
    border-color: #9dbcac;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-width: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

#profile {
    position: absolute;
    top: 80%;
    width: 60%;
    height: 15%;
    left: 20%;
    background-color: #9dbcac;
    color: #3e5c4e;
    border-color: #9dbcac;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-width: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

@media screen and (max-width: 479px) {
    .page {}

    .initial {
        font-family: 'Courier New', Courier, monospace;
        color: #3e5c4e;
        background-color: #abcbbb;
        border-color: #3e5c4e;
        border-width: 0.2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        text-align: left;
        position: absolute;
        left: 10%;
        top: 80%;
        width: 80%;
        height: 50%;
        font-size: 1.5em;
    }

    #logo {
        position: absolute;
        left: 15%;
        width: 70%;
        height: 70%;
    }

    #im {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-width: 2rem;
    }

    #box {
        position: absolute;
        left: 0%;
        top: 5%;
        width: 100%;
        height: 50%;
    }

    #text {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 50%;
    }

    #projects {
        position: absolute;
        left: 60%;
        top: 100%;
        width: 40%;
        height: 15%;
        background-color: #9dbcac;
        color: #3e5c4e;
        border-color: #9dbcac;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-width: 0.2rem;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }

    #profile {
        position: absolute;
        left: 10%;
        top: 100%;
        width: 40%;
        height: 15%;
        background-color: #9dbcac;
        color: #3e5c4e;
        border-color: #9dbcac;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-width: 0.2rem;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }

}